body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.user-root {
  display: flex;
  flex-direction: column;
}

.light-userheader {
  display: flex;
  background-color: #fff;
  padding: 2%;
  gap: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  width: 100%;
  color: rgba(1, 1, 90, 0.833);
}

.dark-userheader {
  display: flex;
  background-color: #333333;
  padding: 2%;
  gap: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  width: 100%;
  color: whitesmoke;
}

.title-header {
  margin-left: 7%;
}
.image-header {
  height: 100px;
  width: 200px;
  border-radius: 4px;
}

.light-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.5rem;
  margin: 5%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.light-userMain {
  display: flex;
  padding: 2%;
  width: 100%;
  justify-content: center;
  background-color: aliceblue;
  gap: 10%;
}
.dark-userMain {
  display: flex;
  padding: 2%;
  width: 100%;
  justify-content: center;
  background-color: #333333;
  gap: 10%;
}

.user-footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  font-size: 1.5rem;
  width: 100%;
  align-items: center;
  margin-inline-start: 20%;
}
