.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}
.main_layout {
  display: flex;
  height: 80vh;
  background-color: aqua;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.btn_continuar {
  margin-top: 1%;
}
.layout {
  background-color: red;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.image-square {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.image-square:hover,
.image-square:active {
  background-color: #f0f0f0; /* Light grey background to indicate active/draggable area */
}

.image-square.dragging {
  opacity: 0.5; /* Make the dragging cell semi-transparent */
}
