.layout {
  background-color: rgb(255, 196, 196);
  height: 80vh;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 1%;
}

.image-square {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.image-square:hover,
.image-square:active {
  background-color: #f0f0f0; /* Light grey background to indicate active/draggable area */
}

.image-square.dragging {
  opacity: 0.5; /* Make the dragging cell semi-transparent */
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navBar {
  color: cornflowerblue;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.navBar h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 3rem;
}
.navBar button {
  height: 40px;
  width: fit-content;
  align-self: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-size: 2rem;
}
.navBar img {
  height: 100px;
  width: 200px;
  border-radius: 4px;
}

.info-text {
  color: darkred;
  font-size: 1.3rem;
}
.dark-theme {
  background-color: #333333;
  color: whitesmoke;
  height: 80vh;
  padding: 30px;
}

.light-theme {
  color: #333333;
  background-color: rgb(255, 196, 196);
  height: 80vh;
  padding: 30px;
}
